/* GENERAL FONTS */

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
    color: #fff;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

p {
    font-family: "Montserrat";
    color: #8f8f8f;
}

/* HEADER AND NAVBARD  SECTION */

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15%;
    overflow: hidden;
}

.navbar {
    padding-bottom: 5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
}

.nav-link {
    margin: 0 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.title-img {
    transform: rotate(25deg);
    margin-bottom: -260px;
    width: 50%;
    margin-left: 80px;
}

@media only screen and (max-width: 1000px){
.title-img
{
    margin-top:50px;
}
}

.btn {
    margin: 1rem 0.5rem 0 0;
    width: 10rem;
}

/* FEATURES SECTION */
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68
}

#features {
    padding: 3% 10% 0;
}

.features-content {
    text-align: center;
    padding: 5%;
}

/* TESTIMONIAL SECTION */

#testimonials {
    text-align: center;
    padding: 3% 15%;
    background-color: #ef8172;
}

.testimonial-image {
    width: 8rem;
    border-radius: 100%;
    margin: 1rem 1rem 0 0;
}

.testimonial-image-description {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* PRESS SECTION */

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3rem 0;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/